@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.zinc.300);
    border-radius: 100vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme(colors.zinc.200);
  }

  @supports (scrollbar-color: red blue) {
    * {
      scrollbar-color: theme(colors.zinc.300) transparent;
      scrollbar-width: thin;
    }
  }

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
    }
    
    ::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 100vw;
      margin-block: 0.5em;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: theme(colors.zinc.700);
      border-radius: 100vw;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: theme(colors.zinc.600);
    }

    @supports (scrollbar-color: red blue) {
      * {
        scrollbar-color: theme(colors.zinc.700) transparent;
        scrollbar-width: thin;
      }
    }
  }
}